

[class*="class-2"],.class-24{
    width: 500px;
    height:500px;
    background: red;
    position: relative;
}
.class-21{
    width: 60px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 100px;
    top: 300px;
    }
.class-22,.class-23{
    width: 100px;
    height: 100px;
    background-color: lavender;
    position: absolute;
    top: 100px;
    left: 100px;
 }
.class-23{
    left: 300px;
}
.text{
    text-align: justify
}